article {
    font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
    margin: auto;
    text-align: justify;
    line-height: 34px;
    color: #333;
    font-weight: 200;
    font-size: 17px;
}
